<!doctype html>
<html lang="en">
  <head>
    <title>Tesla Fleet Manager Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="10">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="mx-3">
      <br>
          
          
        <div class="container">
          <form action="/dashboard/{{email}}/" method="post">
            <h3>Email Information</h3>
            {% for vehicle in data %}
              {{vehicle[0]}} <input type="checkbox" id="sendemail_{{vehicle[0]}}" name="sendemail_{{vehicle[0]}}" value="sendemail_{{vehicle[0]}}">
            {% endfor %}
            <br>
            <input type="submit" name="sendemail" value="sendemail">
            <hr>
            <h5>Status of Vehicle</h5>
            {% for vehicle in data %}
            <div class="card">
              <h5 class="card-header">{{vehicle[0]}}</h5>
              <div class="card-body">
                <h5 class="card-title">Vehicle Settings</h5>
                <p class="card-text">
                  <div class="row">
                    <div class="col-sm-6">
                      {% for key, val in vehicle[1].items() %}
                      {{key}}: {{val}}
                      <br>
                      {% endfor %}
                    </div>
                    <div class="col-sm-6">
                      
                      <!-- <img src="{{ url_for('static', filename ='images/models/S85dMetallicBlackCharcoal21.png') }}" alt=""> -->
                      <!-- <img src="/static/images/models/{{ model_names[loop.index - 1] }}.png" alt=""> -->
                       {{ model_names[loop.index - 1] }}
                    </div>
                  </div>
                  
                </p>
                <input class="btn btn-primary" type="submit" name="lock_{{vehicle[0]}}" value="lock">
                <input class="btn btn-primary" type="submit" name="unlock_{{vehicle[0]}}" value="unlock">
                <input class="btn btn-primary" type="submit" name="remotestart_{{vehicle[0]}}" value="remotestart">
              </div>
            </div>
            <br><br>
            {% endfor %}

            <!-- {% for vehicle in data %}
            <h3>{{vehicle[0]}}</h3>
            <div class="row">
              <p>
                <div class="col-sm-4">
                  <h5>Status of Vehicle</h5>
                  {% for key, val in vehicle[1].items() %}
                  {{key}}: {{val}}
                  <br>
                  {% endfor %}
                </div>
                  <div class="col-sm-8">
                    <h5>Controls</h5>
                    <input type="submit" name="lock_{{vehicle[0]}}" value="lock">
                    <input type="submit" name="unlock_{{vehicle[0]}}" value="unlock">
                    <br>
                    <input type="submit" name="remotestart_{{vehicle[0]}}" value="remotestart">
                  </div>
              </p>
            </div>
            {% endfor %} -->
            </form>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>